* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(119, 112, 104);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li {
    display: inline-block;
}
.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 15px;
}
.main-nav li.highlight a {
    border: 1px solid white;
}
.main-nav li a:hover {
    border: 1px solid;
}
.row {
    max-width: 1200px;
    margin: auto;
}
.btn {
    width: 100%;
    background: none;
    border: 2px solid #f7c355;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;
}
#banner {
    height: 100px;
    width: 600px;
    margin-left: 500px;
    margin-top: 150px;
}
h1 {
    color: white;
    text-align: center;
}
.describe {
    color: white;
    text-align: center;
}
.app-box {
    background-color: rgb(78, 72, 62);
    border: 4px solid rgb(218, 175, 147);
    width: 450px;
    margin: 0px 0px 0px 570px;
}
#f1 {
    margin-bottom: 30px;
    padding-top: 20px;
    float: left;
    padding-left: 20px;
}
#f2 {
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}
label {
    color: white;
}
.btn {
    width: 100%;
    background: none;
    border: 2px solid #f7c355;
    border-radius: 6px;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;
}
.btn:hover {
    background-color: #f7c355;
}
.bt:active {
    background-color: #9c7d3a;
    box-shadow: 0 5px rgb(197, 196, 196);
    transform: translateY(4px);
}