* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #86653f;
    background: -webkit-linear-gradient(to right, #704e2e, #27150d);
    background: linear-gradient(to right,  #704e2e, #27150d);
    min-height: 100vh;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li {
    display: inline-block;
}
.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 15px;
}
.main-nav li.highlight a {
    border: 1px solid white;
}
.main-nav li a:hover {
    border: 1px solid;
}
.navigation {
    max-width: 1200px;
    margin: auto;
}
#footer {
    padding-top: 80px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
    color: #ffffff;
      border-top: 10px solid #343a40;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    height: fit-content;
    margin-top: 50px;
    margin-left: 35%;
    text-align: center;
    background-color: rgb(235, 235, 235);

}
h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.title {
    color: white;
    font-size: 18px;
}
  
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
  
button:hover, a:hover {
    opacity: 0.7;
}
img {
    border: #ffffff solid 4px;
    border-radius: 6px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
#page {
    font-family: 'Gupter', serif;
    color: white;
    margin-top: 50px;
}
#banner {
    background: rgb(90, 90, 90);
    padding-top: 30px;
}
.hide {
    text-align: center;
    color: white;
    margin-top: 50px;
}
.apps {
    background-color: blanchedalmond;
    color: black;
    width: 300px;
    display: flex;
    text-align: center;
    border: 2px solid rgb(65, 31, 31);
    padding:10px 10px 10px 10px;
    margin-left: 30%;
    margin-top: 50px;
}
.popApp{
    font: 10px;
}
#footer {
    padding-top: 80px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
    color: #ffffff;
    background: grey;
}
.foot {
    font-size: 12px;
}
