* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(199, 184, 164);
    background-size: cover;
    background-position: center;
}
.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li {
    display: inline-block;
}
.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 15px;
}
.main-nav li.highlight a {
    border: 1px solid white;
}
.main-nav li a:hover {
    border: 1px solid;
}
.r2 {
    max-width: 1200px;
    margin: auto;
}
.navigation {
    max-width: 1200px;
    margin: auto;
}
.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.603)), url(../assets/images/people8_TOPCROP-2.png);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    color: white;
    padding-bottom: 100px;

}
#id {
    margin-top: 100px;
}
.search-card {
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(83, 83, 196);
}
.news-card {
    margin-top: 10px;
}
#imageJumbotron {
    margin-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.692)), url(../assets/images/people8_TOPCROP-2.png);
    background-position: center;
    background-size: cover;
    font-family: 'Gelasio', serif;
}
.title {
    color: rgb(245, 245, 245);
    font-size: 36px;

}
.lead {
    color: rgb(235, 235, 235);
    font-size: 14px;
}
.col-sm-5 {
    background-color: rgb(224, 224, 224);
}
.col-lg-7 {
    background-color: rgb(224, 224, 224);
}
.col {
    height: 500px;
}

.news {
    margin-top: 20px;
}
.card-title {
    border-bottom: solid black 1px;
}
.my-md-0 {
    background-color: black;
}
.btn-outline-success {
    background-color: rgb(255, 255, 255);
}
#footer {
    padding-top: 80px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
    color: #ffffff;
    background: grey;
}
.foot {
    font-size: 12px;
}
.contact {
    margin-top: 10px;
    border: #ffd64e solid 2px;

}
#btn {
    background-color: goldenrod;
    padding: 15px 20px;
}